In [1]:
import pandas as pd
import csv
import zipfile

In [2]:
dT = pd.read_excel('data/Boulder_B-cycle_2016_Trip_Data.xlsx')

In [3]:
dT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113728 entries, 0 to 113727
Data columns (total 13 columns):
Rider Home System           113728 non-null object
Rider or Operator Number    113728 non-null object
Entry Pass Type             113726 non-null object
Bike Number                 113728 non-null object
Checkout Date               113728 non-null datetime64[ns]
Checkout Day of Week        113728 non-null object
Checkout Time               113728 non-null object
Checkout Station            113728 non-null object
Return Date                 113728 non-null object
Return Day of Week          113726 non-null object
Return Time                 113728 non-null object
Return Station              113726 non-null object
Trip Duration (Minutes)     113728 non-null int64
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 11.3+ MB

In [4]:
dT.drop(['Checkout Day of Week', 'Return Day of Week'], axis = 1, inplace = True)

In [5]:
# rename columns to make them more descriptive and replace spaces with special characters with underscores
dT.rename(columns = {'Rider Home System': 'User_Program', 'Rider or Operator Number': 'User_ID',
                     'Entry Pass Type' : 'Membership_Type', 'Bike Number' : 'Bike_Number',
                     'Checkout Date' : 'Checkout_Date', 'Checkout Time' : 'Checkout_Time',
                     'Checkout Station': 'Checkout_Kiosk', 'Return Date': 'Return_Date',
                     'Return Time': 'Return_Time', 'Return Station': 'Return_Kiosk',
                     'Trip Duration (Minutes)': 'Trip_Duration'}, inplace = True)

In [6]:
dT[['Bike_Number']] = dT[['Bike_Number']].astype(object)

In [7]:
dT.shape

(113728, 11)

In [8]:
dT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113728 entries, 0 to 113727
Data columns (total 11 columns):
User_Program       113728 non-null object
User_ID            113728 non-null object
Membership_Type    113726 non-null object
Bike_Number        113728 non-null object
Checkout_Date      113728 non-null datetime64[ns]
Checkout_Time      113728 non-null object
Checkout_Kiosk     113728 non-null object
Return_Date        113728 non-null object
Return_Time        113728 non-null object
Return_Kiosk       113726 non-null object
Trip_Duration      113728 non-null int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 9.5+ MB

In [9]:
dK = pd.read_excel('data/Boulder_B-cycle_2016_Trip_Data.xlsx', sheetname = 'Station Information')

In [10]:
dK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 10 columns):
Checkout Station               44 non-null object
Return Station                 44 non-null object
Checkout Station Latitude      44 non-null float64
Checkout Station Longitude     44 non-null float64
Return Station Latitude        44 non-null float64
Return Station Longitude       44 non-null float64
Power Source                   44 non-null object
Installation Date              44 non-null datetime64[ns]
Removal Date                   44 non-null object
Most Recent Number of Docks    44 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 3.5+ KB

In [11]:
# rename columns to make them more descriptive and replace spaces with special characters with underscores
dK.rename(columns = {'Checkout Station': 'Checkout_Kiosk', 'Return Station': 'Return_Kiosk',
                     'Checkout Station Latitude': 'Checkout_Kiosk_Latitude',
                     'Checkout Station Longitude': 'Checkout_Kiosk_Longitude',
                     'Return Station Latitude': 'Return_Kiosk_Latitude',
                     'Return Station Longitude': 'Return_Kiosk_Longitude',
                     'Power Source': 'Power_Source',
                     'Installation Date': 'Installation_Date',
                     'Removal Date': 'Removal_Date',
                     'Most Recent Number of Docks': 'Most_Recent_Number_Of_Docks'}, inplace = True)

In [12]:
dT.to_csv("data/2016_Boulder_Bike_Trip_Data.gz", index=False, compression="gzip")

In [13]:
dK.to_csv("data/2016_Boulder_Bike_Kiosks_Info.gz", index=False, compression="gzip")